#container {
	position:relative;
}

#EasyThemesContainer {
	max-width:400px;
	border:1px solid #bbb;
	background:#fff;
	padding: 10px;
	position:absolute;
	left:110px;
	opacity:0;
	z-index:-99;
}

ul.easytheme_level1 {
	list-style:none;
	margin:0;
	padding:0;
}

#tl_navigation li.easytheme_level_1_group {
	background:url("themes.gif") 0px 6px no-repeat;
	padding:8px 10px 8px 25px;
	clear:both;
}

#tl_navigation li.easytheme_level_1_group ul {
	padding:0px;
	margin:5px 2px;
}

li.easytheme_level_2_link {
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:20px;
}

li.easytheme_level_2_link img {
	margin-right:5px;
	width:14px;
	margin-bottom:-3px;
}

li.easytheme_level_2_link a {
	margin-right: 8px;
}