#tl_navigation li {
    position: relative;
}

#tl_navigation .easytheme_level_2 {
    padding: 5px 0 0 20px;
    overflow: hidden;
    width: auto;
}

#tl_navigation .easythemes_mouseover .easytheme_level_2,
#tl_navigation .easythemes_contextmenu .easytheme_level_2 {
    padding: 0;
    margin-top: 5px;
}

#tl_navigation .easytheme_level_2 li {
    float: left;
    margin: 0 8px 0 0;
    overflow: hidden;
    width: auto;
}

#tl_navigation .easythemes_long .easytheme_level_2 li {
    float: none;
    margin: 0;
}

#tl_navigation .tl_level_1_group.easy_themes > a {
    background: url(themes.svg) 7px center no-repeat;
}

#tl_navigation .isContao4 .easytheme_level_2 li {
    margin: 0 0 5px 0;
}

#tl_navigation .easythemes_mouseover .easytheme_level_2 li,
#tl_navigation .easythemes_contextmenu .easytheme_level_2 li {
    margin-bottom: 2px;
}

#tl_navigation .easytheme_level_2 li a,
#easy_themes.easythemes_mouseover a.navigation,
#easy_themes.easythemes_contextmenu a.navigation {
    padding: 0;
    display: block;
}

#easy_themes.easythemes_long .icon {
    float: left;
    margin: 2px 6px 0 0;
    display: block;
}

#easy_themes.easythemes_mouseover,
#easy_themes.easythemes_contextmenu,
#easy_themes.easythemes_be_mod {
    width: 135px;
    position: absolute;
    left: 20px;
    top: 18px;
    background-color: #fff;
    border: 1px solid #bbb;
    padding: 5px 10px;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
}

#easy_themes.isContao4.easythemes_mouseover,
#easy_themes.isContao4.easythemes_contextmenu,
#easy_themes.isContao4.easythemes_be_mod {
    border-radius: 0;
}

#easy_themes.easythemes_mouseover li.easytheme_level_1_group,
#easy_themes.easythemes_contextmenu li.easytheme_level_1_group {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#easy_themes.isContao4.easythemes_mouseover li.easytheme_level_1_group > a,
#easy_themes.isContao4.easythemes_contextmenu li.easytheme_level_1_group > a {
    font-weight: bold;
}

#easy_themes.easythemes_mouseover li.easytheme_level_1_group:last-child,
#easy_themes.easythemes_contextmenu li.easytheme_level_1_group:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#easy_themes,
#easy_themes.easy_themes_doNotLaunch {
    display: none;
}

#easy_themes.ready {
    display: block;
}
